.hero {
  border-bottom: 1px solid var(--border-color);
}

.heroTitle {
  font-weight: 800;
  letter-spacing: -0.05em;
  font-size: 3.5rem;
  color: var(--text-primary);
}

.highlightText {
  color: var(--highlight-color);
  font-weight: 700;
  padding: 0 4px;
}
